@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

html {
    background-color: #11111b;
    font-family: 'Alexandria';
    color: #cdd6f4;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
    margin-bottom: 60px;
}

h1 {
    font-weight: 600;
    font-size: 2.2em;
    margin-top: 30px;
    margin-bottom: 13px;
}

nav {
    flex-direction: row;
}

nav a {
    font-size: 1.1em;
}

section p {
    margin-top: 40px;
    font-size: 1.05em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #11111b;
    text-align: center;
    z-index: 10;
}

footer p {
    margin: 10px;
}

#item {
    font-size: 1.3em;
    font-weight: 500;
}

.centered {
    text-align: left;
    max-width: 45%;
    word-wrap: break-word;
}

.hl {
    padding: 8px;
    color: #94e2d5;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: #b4befe;
    text-underline-offset: 2px;
}

.hl:hover {
    text-decoration-color: #cba6f7;
}

@media (max-width: 926px) { 
    .centered {
        max-width: 90%;
    }   
}