body {
    background: #000000;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2.5rem;
}

.center a {
    height: 33px;
}

.center img {
    height: 33px;
}

.inverted {
    filter:  hue-rotate(210deg) invert(1);
}